@model IEnumerable<FirstMVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center; margin-top:40px;">Store</h1>
<div class="product-section">
    @foreach (var item in Model)
    {
        <div class="product-box" onclick="pay('@item.StripePriceId')">
            <img src="/images/@(item.ProductName.ToLower().Replace(" ", "")).jpg" />
            <h3>@item.ProductName</h3>
            <div class="product-price">
                $@(item.ProductPrice / 100.0)
            </div>
        </div>
    }
</div>
@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
